<?xml version='1.0' encoding='utf-8'?>
<widget id="com.loc.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lake of Cakes</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name = "SplashScreen" value = "screen" />
    <preference name = "SplashScreenDelay" value = "2000" />
    <preference name = "SplashMaintainAspectRatio" value = "true" />


    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!-- <plugin name="cordova-plugin-firebase" spec="^2.0.0" /> -->
    <!-- <universal-links>
        <host name="lakeofcakes.page.link" scheme="https" />
        <host name="lake-of-cakes.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback"/>
        </host>
    </universal-links> -->
    
    <!-- <preference name="AndroidLaunchMode" value="singleTask" /> -->
    <icon src="logo.png"/>
    <splash src="splah.jpg" />
</widget>
